@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}
p{
    text-align: justify;
    font-size: 16px;

}
body{
    background-image: linear-gradient(to right, #F2D7B6, #F28972);
}
main{
    background-color: rgba(255, 255, 255, 0.507);
    width: 600px;
    padding: 15px;
    margin: auto;
    border-radius: 5%;
    border-style: solid;
    border-width: 5px 20px;
    border-color: #BFB52C;
}
h1{
    color: #BFB52C;
    text-align: center;
}
h2 {
    color: #8DD5F2;
    background-color: #BFB52C;
    border-radius: 55px;
    width: 200px;
    padding: 5px 10px;
}