@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=M+PLUS+Rounded+1c&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    min-height: 100dvh;
    background-color: darkgrey;
}

.topo {
    background-color: black;
    text-align:  center;
    color: white;
    padding: 30px;
}
.topo > h1 {
    font: normal 400 10dvw "Bebas Neue", sans-serif;
    padding-top: 30px;
    font-variant: small-caps;
}
.topo > h2 {
    font: normal 400 1dvw "Bebas Neue", sans-serif;
    padding-bottom: 30px;
}
.topo > h2 a {
    font: normal 400 2.7dvw "Bebas Neue", sans-serif;
    text-decoration: none;
    color: white;
    margin-left: 5px;
}
.topo > h2 a:hover {
    text-decoration: underline;
}

/*CORPO DO SITE*/
section {
    padding: 10vh 3vw 10vh 6vw;
    font-size: 3.8vw;
    line-height: 2em;
}
section p {
    font-family: "Winky Rough", sans-serif;
    font-weight: bolder;
    text-align: left;
    font-variant: small-caps;

}
section.normal {
    background-color: white;
    color: black;
}
section.imagen p {
    display: inline-block;

    background-color: rgba(0, 0, 0, 0.2);
    color: rgb(255, 255, 255);

    border-radius: 10px;
    box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.5);

    max-width: 600px;

    padding: 10px;
}
section#img01 {
    background: black url('imagens/background001.jpg') center center no-repeat fixed;
    background-size: cover;
}
section#img02 {
    background: black url('imagens/background002.jpg') center center no-repeat fixed;
    background-size: cover;
}

/*RODAPÉ DO SITE*/
footer {
    background-color: black;
}
footer p {
    font: normal 400 3vw "Bebas Neue", sans-serif;
    font-variant: small-caps;
    color: white;
    text-align: center;
    letter-spacing: 2px;

    padding: 10px;
}
footer p a {
    text-decoration: none;
    color: white;
}
footer p a:hover {
    text-decoration: underline;
}